# Database
DB_HOST={hostname}
DB_NAME={database_name}
DB_USER={host_username}
DB_PASS={host_password}

# App
APP_URL=http://localhost
INSTALLED=false

# PayPal
PAYPAL_EMAIL={paypal_email}

# Mail
MAIL_HOST={mail_host}
MAIL_PORT={mail_port}
MAIL_USERNAME={mail_username}
MAIL_PASSWORD={mail_password}
MAIL_CONFIGURED=false