# Database Configuration
DB_HOST={hostname}
DB_NAME={database_name}
DB_USER={host_username}
DB_PASS={host_password}

# PayPal Configuration
PAYPAL_EMAIL={paypal_email}

# Mail Configuration
MAIL_HOST={mail_host}
MAIL_PORT={mail_port}
MAIL_USERNAME={mail_username}
MAIL_PASSWORD={mail_password}

# Application Configuration
INSTALLED=false
MAIL_CONFIGURED=false
