# phpstan.neon
parameters:
  level: 5
  paths:
    - Core
    - App
    - config
  excludePaths:
    - vendor
  dynamicConstantNames:
    - INSTALL_URL
    - ROOT_PATH
    - INSTALL_FOLDER
    - INSTALLED
    - MAIL_CONFIGURED
    - DEFAULT_HOST
    - DEFAULT_USER
    - DEFAULT_PASS
    - DEFAULT_DB
    - PAYPAL_EMAIL
    - MAIL_HOST
    - MAIL_PORT
    - MAIL_USERNAME
    - MAIL_PASSWORD
    - UPLOAD_PATH
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors: []
  reportUnmatchedIgnoredErrors: true