<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stderr="true">
    <testsuites>
        <testsuite name="DeliveryMS Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Core</directory>
            <directory suffix=".php">App</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="24575"/>
        <ini name="display_errors" value="0"/>
        <ini name="log_errors" value="1"/>
    </php>
</phpunit>